<div id="events-app"></div>
<script defer="defer" src="<%= static_path(@conn, "/js/events.js") %>"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />

<style>

.leaflet-container {
  height: 80vh;
}

</style>
