<div id="side-nav"> </div>

<style>

#side-nav {
  min-width: 180px;
}

.side-nav-item {
  display: block;
  text-decoration: none;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-header-container {
  font-weight: 400;
  padding-bottom: 20px;
  border-bottom: 1px dashed grey;
  margin-bottom: 20px;
}

</style>
