/*This file is for your main application css.*/
body {
  margin: 0;
}

html, body {
  height: 100%;
}

.container {
  padding: 30px;
}

.alert {
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar {
  width: 4px;
  height: 18px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  animation-delay: 0;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}

input.text  {
  color: white;
  width: 100%;
  font-size: 16px;
  height: 20px;
  border: 1px solid #ddd;
  font-weight: 300;
  padding: 1em;
  transition: border-color 500ms linear;
  margin-bottom: 1em;
  margin-top: 5px;
  background-color: rgba(255,255,255,0.1);
}

.primary-button {
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  height: 100%;
  letter-spacing: 1px;
  border: 0;
  transition: all .2s ease-out;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1em;
  margin-top: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnc .primary-button {
  background-color: rgb(95, 39, 135);
  color: white;
}

.bnc .primary-button:hover {
  background-color: white;
  color: rgb(95, 39, 135);
}

.jd .primary-button {
  background-color: #F6FF00;
  color: black;
}

.jd .primary-button:hover {
  background-color: #DDE600;
  border: 1px solid black;
}
