header {
  height: 75px;
  border-bottom: 1px solid #DDD;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

header img.desktop {
  min-width: 220px;
  max-width: 220px;
  max-height: 50px;
  margin-left: 40px;
}

header img.mobile {
  height: 40px;
  margin-left: 30px;
}

header .hamburger-menu .bar {
  width: 100%;
  border-bottom: 3px solid black;
  clear: both;
  padding-bottom: 3px;
}

header .hamburger-menu {
  float: right;
  width: 25px;
  margin-right: 40px;
  cursor: pointer;
}
