<div id="leaderboard-report-app"></div>
<script defer="defer" src="<%= static_path(@conn, "/js/leaderboard-report.js") %>"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/2.12.0/antd.css" />
