%h1.page-title What You Can Do
.page-body
  = render Core.ActView, "district-picker.html", assigns
  .act-option-group
    .option-group-header Events
    .option-container
      - for item <- @event_action_options do
        = render Core.ActView, "link-square.html", [icon: item.icon, label: item.label]
  .act-option-group-header
    .option-group-header Help from Home
    .option-container
      - for item <- @home_action_options do
        = render Core.ActView, "link-square.html", [icon: item.icon, label: item.label]

:css
  body .page-body {
    margin: 20px;
  }

  body .option-group-header {
    font-size: larger;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  body .option-container {
    display: flex;
    flex-wrap: wrap;
    - if @mobile do
      justify-content: space-around;
  }
