.dictrict-picker
  - case @district do
    - nil ->
      .dp-header{style: "font-weight:bold;font-size:larger;"} What congressional district are you in?
      .cd-prompt{style: "font-size:smaller;"} If you know your congressional district, type it in – otherwise, type in your address and we'll figure it out.
      %form{action: "/act", method: "post"}
        .input-container
          %input{type: "hidden", name: "_csrf_token", value: csrf_token()}
          %input{type: "text", placeholder: "", id: "cd-swiss-army", name: "district"}
          %input.primary-button{type: "submit", value: "Submit"}
    - cd ->
      .dp-header= "We think you're in #{cd}."
        %a.not-true{href: "/act?district="} Not true?

:css
  div.input-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  div.input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    height: 100%;
    font-size: 15px;
    border: 1px solid black;
  }

  div.input-container input[type="submit"] {
    padding: 10px;
    margin: 0;
  }

  div.input-container > .primary-button {
    width: 140px;
  }
